.home-main-container {
  width: 100%;
  height: 100vh;
}

.sub-con {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .home-main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .sub-con {
    flex-direction: column;
    height: 85%;
    margin-top: 15%;
  }
  .sub-con1 {
    width: 80% !important; /* Adding !important if needed */
    height: fit-content;
    order: 2;
  }

  .sub-con2 {
    width: 80% !important; /* Adding !important if needed */
    height: 40vh;
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 10px;
  }
  .header {
    padding-bottom: 20px;
    height: 15%;
  }
}
.sub-con1 {
  width: 40%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.sub-con2 {
  width: 40%;
}
.instruction-img {
  width: 70%;
  height: 70%;
  margin-left: 20px;
}
.unordered-list {
  list-style-type: decimal;
  margin-left: 10px;
  color: #263868;
  font-family: 'Roboto';
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 2;
}

.assessment-btn {
  cursor: pointer;
  width: fit-content;
  padding: 10px;
  border-radius: 7px;
  color: #ffffff;
  background: #263868;
}
.instruction-heading {
  color: #263868;
}
